<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TermoApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TermoApp.Properties.Settings>
            <setting name="JogosJogados" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TotalVitorias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SequenciaAtual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MelhorSequencia" serializeAs="String">
                <value>0</value>
            </setting>
        </TermoApp.Properties.Settings>
    </userSettings>
</configuration>